<!--
  <div class="file-upload-container">
    <div>
      <button
        type="file"
        class="custom-file-input"
        id="inputGroupFile01"
        accept=".xls,.xlsx"
        ng2FileSelect
        [uploader]="uploader"
        mat-raised-button
        color="primary"
      >
        Choose Files
      </button>
    </div>
    <ag-grid-angular
      style="width: 100%; height: 550px;"
      class="ag-theme-balham"
      [gridOptions]="gridOptions"
    >
    </ag-grid-angular>
  </div>
-->

<button mat-button (click)="fileInput.click()">Upload File</button>
<input
  #fileInput
  style="display:none;"
  type="file"
  accept=".xls,.xlsx"
  ng2FileSelect
  [uploader]="uploader"
/>
