.send-mail-btn {
  margin: 5px;
  height: 40px;
}

.send-mail-btn-container {
  display: flex;
  justify-content: flex-end;
}
.select-file {
  font-size: 50px;
  color: #673ab7;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 25px);
}
